@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;

}

.logo {
    padding: 1.5rem;

}

.model {
    width: 100%;
}

.article {
    display: flex;
    flex-direction: column-reverse;
}

.content {
    text-align: center;
    margin: 3rem 1.5rem;
}

h1 {
    font-size: 3rem;
    color: hsl(0, 36%, 70%);
    font-weight: 300;
    letter-spacing: 0.5rem;
}

span {
    color: hsl(0, 6%, 24%);
    font-weight: 600
}

.para {
    width: 100%;
    line-height: 1.5rem;
    color: hsl(0, 36%, 70%);
    font-size: 15px;
    margin: 1rem 0rem;
}

input {
    width: 100%;
    height: 50px;
    border-radius: 2rem;
    border: solid hsl(0, 36%, 70%) 1px;
    padding-left: 1.5rem;
    background: transparent;
}

::placeholder {
    color: hsl(0, 36%, 70%);
}

button {
    width: 4.5rem;
    height: 50px;
    position: relative;
    bottom: 50px;
    left: 36%;
    border: none;
    border-radius: 2rem;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    cursor: pointer;

}
button:hover{
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 80%, 86%));
    box-shadow: -1px 8px 30px rgb(198 157 157 / 90%);
}

label {
    position: relative;
    bottom: 45px;
    left: 35%;
    visibility: hidden;
}

.invalid {
    position: relative;
    color: hsl(0, 93%, 68%);
    bottom: 40px;
    right: 14%;
    font-size: smaller;
    visibility: hidden;
}

@media (min-width: 768px) {
    body{
        background: url(./images/bg-pattern-desktop.svg) no-repeat center/cover;
    }
    .article{
        flex: 1;
        flex-direction: row;
        width:inherit;
        justify-content: space-between;
        margin-bottom: 0;
        height: 100vh;
    }
    .logo{
        padding: 4rem 0rem 0rem 12rem;
    }
   .model{
    position: relative;
    bottom: 17%;
    margin-top: 1rem;
    height: 100vh;
   }
   h1{
    font-size: 4rem;
    letter-spacing: 0.8rem;
   }
   .content{
    text-align: left;
    width: 26rem;
    margin: 7rem 0 0 12rem;
    height: fit-content;
   }
   .para{
    margin: 1.7rem 0;
   }
   button{
    left: 72%;
    width: 5.5rem;
   }
   label{
    left: 71%;
   }
   .invalid{
    transform: translateX(84px);
    
   }

}